body {
  font-family: 'Oxygen', sans-serif;
}
.wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  max-height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  margin: 12%;
  padding: 5%;
  border: 3px solid black;
  border-radius: 12px;
  align-items: center;
  max-width: 650px;
}
h1 {
  font-size: 30px;
  text-align: center;
}
h2 {
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}
h3 {
  font-size: 20px;
  text-align: center;
}
.logo {
  max-width: 1210px;
  width: 85%;
}
hr {
  width: 65%;
  margin: 15px 0;
}
.active {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.expand {
  padding: 0 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
